@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/fira-mono';
@import '@fontsource/inknut-antiqua';



@layer base {
  
  :root {
    --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-highlight: 'Playfair Display Variable', serif;
  --font-mono: 'Fira Mono', monospace;
  --color-theme-1: #ff3e00;
  --color-theme-2: #4075a6;
  --color-text: rgba(0, 0, 0, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
    --background: 252 62% 99%;
    --foreground: 252 67% 2%;
    --muted: 72 22% 94%;
    --muted-foreground: 72 1% 39%;
    --popover: 252 62% 98%;
    --popover-foreground: 252 67% 1%;
    --card: 252 62% 98%;
    --card-foreground: 252 67% 1%;
    --border: 252 3% 94%;
    --input: 252 3% 94%;
    --primary: 252 11% 35%;
    --primary-foreground: 252 11% 95%;
    --secondary: 72 11% 35%;
    --secondary-foreground: 0 0% 100%;
    --accent: 72 11% 35%;
    --accent-foreground: 0 0% 100%;
    --destructive: 15 99% 31%;
    --destructive-foreground: 15 99% 91%;
    --ring: 252 11% 35%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6.27%;
    --foreground: 252 37% 98%;
    --muted: 0 0% 10.98%;
    --muted-foreground: 0 0% 62.75%;
    --popover: 0 0% 8.63%;
    --popover-foreground: 252 37% 99%;
    --card: 0 0% 6.27%;
    --card-foreground: 252 37% 99%;
    --border: 0 0% 15.69%;
    --input: 0 0% 10.98%;
    --primary: 27.06 100% 80%;
    --primary-foreground: 0 0% 0%;
    --secondary: 164.12 100% 80%;
    --secondary-foreground: 0 0% 0%;
    --accent: 27.06 100% 80%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 21.31% 11.96%;
    --destructive-foreground: 0 100% 75.1%;
    --ring: 27.06 100% 80%;
  }
}


body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
  max-width: 100%;
  height: auto;
}

img, picture, svg, video, canvas{
  vertical-align: middle; 
}

img, picture, svg, video, canvas{
  font-style: italic; 
}

img, picture, svg, video, canvas{
  background-repeat: no-repeat; 
  background-size: cover;
}

input, button, textarea, select{
  font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}

 /* For More Info: https://github.com/Lazzzer00/Best-CSS-Reset-2024 */